[2015-06-29 11:20] mozfreddyb opened #2 "Block document.write and document.writeln"
I should add `document.write` and `document.writeln` besides `insertAdjacentHTML`.

[2015-09-08 10:44] #2 closed

[2016-09-27 10:29] LockeLamora opened #7 "Cannot read property 'name' of undefined"
With certain JS files I'm getting this error, It's a pretty massive codebase so I haven't isolated the exact file(s) yet to give any more information, is an assumption being made about the structure of the JS?

`Cannot read property 'name' of undefined
TypeError: Cannot read property 'name' of undefined
    at allowedExpression (/usr/local/lib/node_modules/eslint-plugin-no-unsafe-innerhtml/lib/rul

[2016-09-30 08:12] mozfreddyb commented on #7
Hey, thanks for reporting that error!
The stack trace seems to link to [line 62 of lib/rules/no-unsafe-innerhtml.js](https://github.com/mozfreddyb/eslint-plugin-no-unsafe-innerhtml/blob/master/lib/rules/no-unsafe-innerhtml.js#L62), but that  lines does not contain any attempt to read a property 'name'.
This means that I can not proceed debugging this problem.

Did you modify your version of the sc

[2016-09-30 08:43] LockeLamora commented on #7
Hi, thanks for the reply, nope nothing should be customised

It's odd, I've got the latest and did another pull just to be safe, and it's still showing up as line 62, but when i view the code through this web ui, It's showing up as being on line 74

` } else if (expression.type === "CallExpression") {
          var funcName = expression.callee.name || expression.callee.property.name;
          if

[2016-09-30 09:07] mozfreddyb commented on #7
OK, I think I found the bug. This is likely due to an arrow function expression being called.
In this case, both `expression.callee.name` and `expression.callee.property.name` are null/undefined.

I guess we should be checking `funcName` being truthy before calling `VALID_UNWRAPPERS.indexOf` like so:

Would you be willing to create a pull request, @LockeLamora?

[2016-09-30 09:08] LockeLamora commented on #7
sure! I've nuked my repo and re-ran it and it's behaving properly and showign as line 74 now

it was installed as part of the scanjs install.sh, so i'm guessing it's not finding latest

[2016-09-30 09:14] LockeLamora commented on #7
hm I'm not sure that fix will work, it's failing trying to define funcName due to the null expression.callee parameters it tries to assign with so it'll fail before that check still

I've just tried running with that change and still failing at 74

[2016-09-30 09:34] LockeLamora commented on #7
ok my fix works but i'm denied access to create a branch, it's just a one line change if you want me to paste it here?

[2016-09-30 10:18] mozfreddyb commented on #7
You have to fork this repository and create a branch over there. The Pull Request should come from your fork.

[2016-09-30 11:01] #7 closed

[2016-09-30 11:04] LockeLamora commented on #7
Thanks very much for your help!

There's some wacky JS in our project, so now i have thousands of errors and warnings to log with the devs.

[2016-09-30 13:43] mozfreddyb opened #13 "Reduce code-duplication when checking function calls on right-hand side"
When we check the expression on the right side of the innerHTML assignment (or the parameter within insertAdjacentHTML), we have some duplicate that looks for function names when the code contains a function call (see https://github.com/mozfreddyb/eslint-plugin-no-unsafe-innerhtml/blob/3a0ff0635a589b91b3dae3cf6affc56737ac90cb/lib/rules/no-unsafe-innerhtml.js#L66-L78).

We should remove the duplica

[2016-09-30 14:35] LockeLamora commented on #13
I'm not a JS developer, but I've done enough C/C++ that the syntax was familiar :)

I think a switch statement might look good there with a default of allowed=false which might be easier to maintain in the future and give a little performance bonus?

I can certainly contribute if you'd like, and the 4000 JS files I have to run it against seem to vary enough to trigger and fail there are any logic

[2016-09-30 17:50] mozfreddyb commented on #13
Would be great if there was more input from folks who keep using this
plugin. I've become less involved with Firefox OS frontend-security and
real-world input is probably more useful.

(By the way, I've added a test in this commit (
https://github.com/mozfreddyb/eslint-plugin-no-unsafe-innerhtml/commit/3a0ff0635a589b91b3dae3cf6affc56737ac90cb#diff-2022531c4157fcf26990445f35b712f1R291)
that we shou

[2017-03-16 21:36] jonathanKingston opened #17 "Consider renaming based upon extending functionality"
I cyber-squated on `eslint-plugin-no-unescaped` for the reason I wanted customisation for methods, assignment, string assignment and potentially other checks too.

If the customisation and the separate rule for checking for [key assignment](https://github.com/jonathanKingston/eslint-plugin-no-unescaped/blob/master/lib/rules/no-key-assignment.js) were rolled in here then it could be worth renaming

[2017-03-16 21:37] jonathanKingston opened #18 "Comment code removal"
As ESLint has it's own way of removing current and next lines via comments I would move to deprecate code specific to Bugzilla for turning off the code.

https://github.com/mozfreddyb/eslint-plugin-no-unsafe-innerhtml/blob/master/lib/rules/no-unsafe-innerhtml.js#L88

[2017-03-16 22:27] jonathanKingston opened #19 "Overarching code audit of differences"
As mentioned I would check through the code and see for obvious differences and pull them out. I'm going to raise everything here and we can decide which differences we care about and should import.
Rather than question the differences etc, I will just state them as fact and we can dismiss and add comments (none of this should be considered criticism, other than I'm an idiot for making a competing

[2017-03-16 23:57] jonathanKingston commented on #17
Maybe we make a new parent like the ScanJS rules you have also... https://github.com/mozfreddyb/eslint-config-scanjs/blob/master/.eslintrc

That probably could do with an audit also to ensure it's up to date and remove some of the fxos stuff that is no longer used.

[2017-03-17 13:21] mozfreddyb commented on #18
agreed. #20 addresses this.

[2017-03-17 13:24] mozfreddyb commented on #17
For uses in firefox (or other bigger projects), I'd prefer single-purpose rules that we can enable/disable selectively.
The more checks we do in one rule, the more security checks we lose when someone has to disable it for a file or a folder.

Makes sense?

[2017-03-17 13:24] #18 closed

[2017-03-17 13:34] mozfreddyb commented on #19
I'll go through your points one by one:

* difference in export rule: I'll use whatever eslint prefers, I don't want to get philosophical on that. If both works, I'm fine with making this a low-priority change later
* use strict: I like the benefits of strict mode. I want to keep using it.
* expression operators: innerhtml -=, **= *= etc, dont make a lot of sense to me. Strings turn into NaN when

[2017-03-17 13:35] mozfreddyb commented on #19
I'm in a bit of a rush and I feel bad for doing this bad multi-response thing.
I will likely turn most of those into single issues in the next week, as tracking it like this is horrible.
Thank you for your input!!

[2017-03-20 10:18] mozfreddyb commented on #17
Filed two issues
* Remove rules from the config: https://github.com/mozfreddyb/eslint-config-scanjs/issues/9
* Remove rule implementation from the plugin https://github.com/mozfreddyb/eslint-plugin-scanjs-rules/issues/6
* * This must happen *after* the config, so there are no other dependencies.

[2017-03-20 14:13] mozfreddyb opened #22 "make name of escape functions configurable (defaulting to the existing ones)"

[2017-03-20 14:14] mozfreddyb opened #23 "investigate jquery api / jsx support"

[2017-03-20 14:15] mozfreddyb opened #24 "rewrite export statement"
the new eslint thing seems to be different from what we do.
I'm agnostic to those changes, but @jonathankingston suggested.

[2017-03-20 14:16] mozfreddyb opened #25 "support es2016+ syntax"
(depending on nodejs compat and nodejs uptake)

[2017-03-20 14:16] mozfreddyb opened #26 "un-hardcode property names"

[2017-03-20 14:17] mozfreddyb opened #27 "supply argument information in error name for function call block targeting specific arguments"

[2017-03-20 14:18] mozfreddyb opened #28 "return false explicitly in..."
https://github.com/mozfreddyb/eslint-plugin-no-unsafe-innerhtml/blob/0f2a40a75c6d7715019247224a00d221806becf6/lib/rules/no-unsafe-innerhtml.js#L78

[2017-03-20 14:18] mozfreddyb opened #29 "revisit configurability options and defaults"

[2017-03-20 14:19] mozfreddyb opened #30 "investigate linting"
https://github.com/mozfreddyb/eslint-plugin-no-unsafe-innerhtml/blob/0f2a40a75c6d7715019247224a00d221806becf6/lib/rules/no-unsafe-innerhtml.js#L76

[2017-03-20 14:19] mozfreddyb opened #31 "new "esnext" expression means new bypass?"
investigate future proofing!

[2017-03-20 14:20] mozfreddyb opened #32 "native code check"
@jonathankingston said

Can you explain more @jonathankingston? I'm not sure I understand.

[2017-03-20 14:21] mozfreddyb opened #33 "moar property checking?"
[More checking for props](https://github.com/mozfreddyb/eslint-plugin-no-unsafe-innerhtml/blob/0f2a40a75c6d7715019247224a00d221806becf6/lib/rules/no-unsafe-innerhtml.js#L121) over [this being explicit](https://github.com/jonathanKingston/eslint-plugin-no-unescaped/blob/426e601ebe2fdceb4e5a4970f9cc2aefbfa158da/lib/rules/enforce.js#L149)

[2017-03-20 14:21] mozfreddyb commented on #33
should be its own rule, I think

[2017-03-20 14:23] mozfreddyb commented on #13
@jonathankingston said

[2017-03-20 14:24] mozfreddyb opened #34 "rewrite allowexpression part to not require parent node"

[2017-03-20 14:24] mozfreddyb commented on #19
I'll go through your points one by one:

- [ ] use new style to export a rule, #24
- [ ] configurable escaping #22
- [ ] investigate jsx,jquery support #23
- [x] checks are completed on AssignmentExpression:exit, I think I wanted some subnodes. Maybe this is because I checked comments and not required anymore. is this a problem? let's remove and see if it breaks tests! trying in #21.
- [ ] es2016+

[2017-03-20 15:33] jonathanKingston commented on #32
This is for when we add configuration for custom checks. Objects in JS have
native methods which end up being counted for linting. So I ignore any
config that doesn't look like the right object shape. This certainly needs
a test as could be a failure point depending on implementation.

On Mon, 20 Mar 2017, 14:20 Frederik, <notifications@github.com> wrote:

[2017-03-21 08:53] #28 closed

[2017-03-21 09:05] mozfreddyb commented on #30
Could not find an eslint rule that detects this sort of thing :(

[2017-03-21 09:22] #24 closed

[2017-03-21 14:09] jonathanKingston commented on #29
When using the soon to be deprecated https://github.com/jonathanKingston/eslint-plugin-no-unescaped I have the ability to create classes of checks, there isn't a prefect setup for this as I also need the same configuration for my somewhat unrelated rule: https://github.com/jonathanKingston/eslint-plugin-no-unescaped/blob/master/lib/rules/no-key-assignment.js

The idea of this setup is for somethin

[2017-03-21 14:15] jonathanKingston commented on #34
The PR I pushed closes this off, the work has already been done though just the comments needed cleaning.

[2017-03-21 14:21] jonathanKingston commented on #19
@mozfreddyb can we consider making the expression operators use an allow list of permitted expressions rather than a block list of checked operators. Such that we would have `allowedExpressions = ["-=", "**=", "*=", "/="];` or similar? So if fancy new operator comes along that adds an exploit we don't need to remember to fix out code in future etc.

[2017-03-21 14:35] jonathanKingston commented on #26
This is specifically related to this code: https://github.com/mozfreddyb/eslint-plugin-no-unsafe-innerhtml/blob/0f2a40a75c6d7715019247224a00d221806becf6/lib/rules/no-unsafe-innerhtml.js#L121

Should be easy to do after #29 has been discussed.

[2017-03-21 14:50] jonathanKingston opened #41 "Consider allowing method name checks over getSource check"
Currently the code checks for `context.getSource(node.callee)` for `write` and `writeln` but `node.callee.property.name` for `insertAdjacentHTML`.

This might be a very breaking code change to add to make `write` use the `property.name` as some code bases use this method name. Making this change however will catch any other reference to document using the write method which is somewhat a common pa

[2017-03-21 14:50] jonathanKingston commented on #19
@mozfreddyb also I notice you are only checking for `context.getSource(node.callee)` for `write` and `writeln` but `node.callee.property.name` for `insertAdjacentHTML` was this intentional to avoid valid write functions? This might be a very breaking code change to add to make `write` use the `property.name` (I remember now this is exactly why I forked, when I mentioned breaking changes). #41

[2017-03-21 14:51] jonathanKingston opened #42 "Consider allow list for assignment operators"
Can we consider making the expression operators use an allow list of permitted expressions rather than a block list of checked operators. Such that we would have allowedExpressions = ["-=", "**=", "*=", "/="]; or similar? So if fancy new operator comes along that adds an exploit we don't need to remember to fix out code in future etc.

[2017-03-21 16:03] jonathanKingston commented on #25
In the latest ESLint they require node >4 https://github.com/eslint/eslint/blob/e4da200c712f7a70e2495f94d3a737e951de91ab/package.json#L120

Testing with 4.2.6 the following features are available at least the following:
- const, let
- shorthand object
- template strings

[2017-03-22 09:21] #25 closed

[2017-03-22 09:21] #34 closed

[2017-03-22 09:22] #30 closed

[2017-03-22 15:24] #42 closed

[2017-03-22 15:30] mozfreddyb commented on #41
Your example makes sense, but I doubt a lot of people will save a reference to document in unminified code. My main concern is that `write` is such a generic name.
Maybe we should check some popular libraries, to see how common it is?

On the other hand, our worry about false positives should not be so big, if people can just disable eslint with a tiny comment on top of the line.

I'm not sure wha

[2017-03-22 15:36] mozfreddyb commented on #29
I want this simple but I also want this secure. I am torn.
My argument against doing that in the past was that a good enough escaper (especially with template strings!) can get the context of the parameters and perform its escaping in a context-sensitive way.
There's a nice demo called safetemplate in https://github.com/mikesamuel/sanitized-jquery-templates to showcase this.

[2017-03-22 15:37] mozfreddyb commented on #29
Note to freddy, that he might want to look at https://www.nczonline.net/blog/2012/08/01/a-critical-review-of-ecmascript-6-quasi-literals/ and http://stackoverflow.com/questions/5395813/auto-escape-to-prevent-xss#5399435 as a follow-up from this.

[2017-03-22 15:54] jonathanKingston commented on #29
@mozfreddyb because of the different subsystems like react I worry several things:

- Users will want to use tagged template strings for different use cases
- Because you can't chain them a developer might want to ensure all methods are safe in each system, context

So you might end up with methods like: i18n, escapeHTML, escapeJSX which might not be compatible in each code base.

Perhaps we can c

[2017-03-22 15:58] jonathanKingston commented on #41
Mine neither, I could check big codebases on how often document assignment is within unminified code. I have seen it done myself certainly with frames:

[code]

[2017-03-24 08:45] mozfreddyb commented on #41
Another data point, there's lots of `.write()` for streams (stdin, stdout) and files in our js and jsm files according to [searchfox](http://searchfox.org/mozilla-central/search?q=%5C.write%5C(&case=false&regexp=true&path=.js*)

[2017-03-24 08:48] mozfreddyb commented on #29
Hm yes. React is a "problem" where every <foo> can mean something we don't know. That's one of the reasons I wanted JSX to live in another plugin 😇

[2017-03-27 10:34] jonathanKingston commented on #29
I'm not sure if it is really any different, certainly a lot of the code would be shared.

So the options we have are:

- Escaping
  - Tagged template
  - Method
- Supported checks
  - Methods
    - Optional map of objects to restrict on (Eg: document, element)
    - Property id
  - Properties
    - Optional map of objects to restrict on (Eg: document, element)

The thing is methods, properties and

[2017-03-27 14:54] jonathanKingston commented on #29
Reconsidered default with two rules rather than one:

[code]

[code]

The only thing that annoys me somewhat is the inability of overriding the methods without touching the default properties/methods.

Maybe it could be {config}, {filters}:
[code]

As most users are unlikely want to change the second, it allows us to provide the safest default. Maybe object filters should be part of the first conf

[2017-03-29 14:24] jonathanKingston opened #45 "Migration to a new repo"
**Proposal**

- [x] Move this repo under https://github.com/mozilla/
- [x] Make breaking changes to [splitting properties, rules and config changes](https://github.com/mozfreddyb/eslint-plugin-no-unsafe-innerhtml/issues/29) before submission
  - [x] Create rules for each type: `no-unsanitized/property`, `no-unsanitized/method`, `no-unsanitized/jsx`
- [x] Rename to be not specific about innerHTML.

[2017-04-05 05:57] mozfreddyb commented on #45
CCing again. April is no longer @marumari, she's @april now

[2017-04-05 06:31] mozfreddyb commented on #45
Sorry to keep you waiting on a reply.
I'm in. Let's do this 👍

[2017-04-12 09:28] mozfreddyb commented on #41
This will be fixed by the new format allowing regexes

[2017-04-12 09:28] #41 closed

[2017-04-14 23:20] lutostag opened #48 "Please include documentation on how to install/use"
If there were documentation on how to call it, that would be helpful. **I can't get no-unsanitized to warn when it should, even when I intentionally do not escape.** Any idea what I am doing wrong?

As an aside, here is a first stab at some documentation you might include in the README:
***
## Install
With **yarn** or **npm**:
[code]

## Usage
With **eslint** --  enable the plugin in eslint.rc fil

[2017-04-14 23:20] lutostag opened #49 "latest commit broke export"
After installing and running I get the following.
[code]
Latest commit broke index.js export by removing the lib/rules/no-unsanitized.js file.
HEAD~ does not have this problem.

[2017-04-18 12:48] mozfreddyb commented on #49
We're in the progress of rewriting things (#45), I think you just caught us in the middle of a somewhat unusual situation. Please sit tight while we fix this. @jonathanKingston said he would get to it this week, is that still correct?

[2017-04-18 12:49] mozfreddyb commented on #48
This repo's master is currently unstable.
You can use a previously released version from NPM in the meantime:
https://www.npmjs.com/package/eslint-plugin-no-unsafe-innerhtml

(https://www.npmjs.com/package/escape-html-template-tag looks neat! Thanks!)

[2017-04-19 13:28] #49 closed

[2017-04-21 14:31] jonathanKingston commented on #32
Used hadOwnProperty in latest PR to prevent these issues, I added a test to make sure.
https://github.com/mozilla/eslint-plugin-no-unsanitized/pull/51/files#diff-e843fd7c9a343089a8800912923bc0bbR61

[2017-04-21 14:32] jonathanKingston commented on #32
@mozfreddyb please close this. and/or give me the powers ;)

[2017-04-21 14:32] mozfreddyb opened #52 "investigate jsdoc in travis"
we document functions, but only *mostly*, not always.
@jonathanKingston did this well for most of the functions he added, it would be a shame if we could not bind ourselves to that behavior.

[2017-04-21 14:37] mozfreddyb commented on #32
I can't give you the powers, this isnt my repo since I moved it to @mozilla :/

[2017-04-21 14:37] #32 closed

[2017-04-21 14:52] #29 closed

[2017-04-21 14:53] jonathanKingston commented on #52
JSDoc linting is something that is painful last time I checked doctrine the internal dependency is pretty incomplete.

However anyway basic linting can be done with:
http://eslint.org/docs/rules/valid-jsdoc

[2017-04-21 14:57] jonathanKingston commented on #33
Fairly certain this can be now closed however would like an eye on if I have made it less explicit by my custom checks.

[2017-04-21 15:38] jonathanKingston commented on #48
I added some of this to my latest pr for the version bump. I don't know if standard provides ways to customise rules or even use defaults/configs. Testing needed.

By default you need to enable both method and property rule for this to work.

However we will provide defaults so you can do:
[code]

[2017-04-21 15:40] #26 closed

[2017-04-21 15:42] #17 closed

[2017-04-21 17:55] mozfreddyb commented on #52
I think eslint valid-jsdoc is good enough. Especially given that we already use eslint.

[2017-04-24 06:31] mozfreddyb commented on #33
yep, I think we have nailed the cases down where we expect a specific expression.
I was slightly concerned about future-proofing, but I think we got that solved.

The fact that our error reporting makes a suggestion to file an issue, will be a bit annoying though, given that might cause ESLint on Treeherder to fail for everyone if someone introduces a new pattern :/

[2017-04-24 06:31] #33 closed

[2017-04-24 06:32] mozfreddyb commented on #48
@lutostag Your bug should be fixed when you pull the latest changes. Can you confirm?

[2017-04-24 08:06] #52 closed

[2017-05-08 09:24] #48 closed

[2017-05-08 17:47] muffinresearch commented on #45
@jonathanKingston hi - are there any blockers to publishing this on npm?

[2017-05-09 06:57] mozfreddyb commented on #45
it's not completely done, but yes. we should make a release :) on it!

[2017-05-09 07:00] mozfreddyb commented on #45
published as 2.0, @muffinresearch

[2017-05-22 14:24] mozfreddyb opened #57 "investigate async/await"
as noted by @jonathanKingston in #56

[2017-05-31 09:43] mozfreddyb opened #61 "we can't properly look into assignment expressions"
Shouldnt pass. This is a follow-up of #60.

[2017-05-31 10:27] mozfreddyb opened #62 "Do we need to scan ternary or logical expressions?"
Examples:

and

Would be interesting if we could deep-dive into left/right attributes of the LogicalExpression (or the consequent/alternate attributes of the ConditionalExpression respectively)

[2017-07-20 10:24] jonathanKingston opened #66 "Add links in README to other docs pages"
As a follow up to #65 we should add links to all the sub pages of documentation.

So README would link to property and method pages so users find it easy to discover them.

[2017-07-20 10:24] jonathanKingston opened #67 "Add more explanation of default args to docs"
Follow up to #65

There is likely a lot of expansion we could add to the customisation and also how to disable the defaults. I know for example we made it so you can override the sanitizers safely without having to disable the default innerHTML checks for example.

[2017-07-31 13:52] mozfreddyb commented on #67
To be honest, I wasn't sure whether I figured things out correctly when I did #65, so I left it out.
Would be great if you could help me with that.

[2017-07-31 13:52] mozfreddyb commented on #66
Taking this one.

[2017-07-31 13:56] mozfreddyb opened #68 "Fix or remove CHANGELOG.md"
Not a big fan of change logs, to be honest, I just realized we had one and it's oudated.
We should either get it updated (maybe automatically, that'd be cool) or kill it.

[2017-08-23 18:33] biancadanforth opened #70 "Husky throws a TypeError: context.reportUnsupported is not a function"
I am using a husky pre-commit and prepush hook for [Lightbeam WE](https://github.com/mozilla/lightbeam-we), and this plug-in is throwing an error. Here are the git details:

[code]

[2017-09-04 14:39] mozfreddyb commented on #70
Please apologize the long delay, I have been on leave for a few weeks.
* Does this issue still appear?
* Which version of the add-on is this?
* Can you send me some code of your comment or just your commit diff?

[2017-11-05 22:51] bennyn opened #71 "Unsupported Callee for CallExpression no-unsanitized/method"
I tested `eslint-plugin-no-unsanitized` and got the following output:

  **303:14**  error  Error in no-unsanitized: Unexpected Callee. Please report a minimal code snippet to the developers at https://github.com/mozilla/eslint-plugin-no-unsanitized/issues/new?title=Unsupported%20Callee%20for%20CallExpression  no-unsan
itized/method
  **306:7**   error  Error in no-unsanitized: Unexpected Callee.

[2017-11-28 11:28] mozfreddyb commented on #71
Sorry for the long delay in my response.
I was on parental leave for the last month and am still in the process of catching up with backlog.

Thank you for the detailed report, I'll try to get to it within this week.
heads up to @jonathanKingston, I'll ask you for a review then.

[2017-11-28 15:22] mozfreddyb commented on #70
ping @biancadanforth happy to help if you can give me more info :)

[2017-12-01 13:57] #66 closed

[2017-12-01 14:38] mozfreddyb commented on #61
Couldn't we just check the right hand side? We do have code for almost everything that goes there, e.g., member expressions, identifiers etc.

[2017-12-01 15:00] #71 closed

[2017-12-01 15:53] mozfreddyb commented on #71
@bennyn I just published v2.0.2 which has a fix for this issue. Thank you for using our tiny plugin and submitting useful, detailed reports! Please let us know if you discover anything else in the future.

[2017-12-04 01:27] biancadanforth commented on #70
Hi @mozfreddyb ; sorry for my delayed response. As you can see from the timestamp, this was quite a while ago now, and running eslint no longer produces an error from the plugin.

Searching for the `context.reportUnsupported` string from the original error log in the `eslint-plugin-no-unsanitized` repo also returns no results presently -- so I guess it resolved itself over time. I will close this

[2017-12-04 01:27] #70 closed

[2017-12-04 09:22] mozfreddyb commented on #71
@bennyn I just published v2.0.2 which has a fix for this issue. Thank you for using our tiny plugin and submitting useful, detailed reports! Please let us know if you discover anything else in the future.

[2017-12-04 17:53] bennyn commented on #71
@mozfreddyb Thanks for publishing the fix! 🤗

We immediately applied your plugin in our codebase:
- https://github.com/wireapp/wire-webapp/pull/2027

Well done! 👍

[2018-01-08 07:10] dominikschreiber opened #73 "Unsupported Callee for CallExpression (no-unsanitized/method) PROBLEMS OUTPUT DEBUG CONSOLE TERMINAL"
no-unsanitized reports "Unexpected Callee" for

[code]

my eslint configuration is:

[code]

[2018-01-08 09:24] mozfreddyb commented on #73
Thank you for the detailed report, I'll try to get to it asap, but certainly within this week.

[2018-01-09 14:41] #73 closed

[2018-02-05 15:10] mozfreddyb opened #78 "build demo to make contributions (and testing) easier"
Would be nice if there was a demo similar to the [ESLint demo](https://eslint.org/demo/).

It just so happened that [ESLint on the browser is not a supported setup](https://github.com/eslint/eslint/issues/2585) and they explicitly say that they don't want to support or maintain their demo setup, so copying it is discouraged.

[2018-02-05 15:14] mozfreddyb commented on #78
Their setup doesn't work with plugins, so even if I were to reproduce it, we'd still not have a demo of the rule.

[2018-02-05 15:15] mozfreddyb commented on #68
I'm removing this.

[2018-02-05 15:16] #68 closed

[2018-02-09 11:47] gijsk opened #79 "Should warn for use of createContextualFragment"
What it says on the tin. Could probably base this off whatever we do for `insertAdjacentHTML`.

[2018-02-09 12:09] jonathanKingston commented on #79
As @mozfreddyb mentions we must have missed it in #29 thanks for raising.

[2018-02-09 13:21] #79 closed

[2018-02-09 13:26] mozfreddyb commented on #79
fixed in #80.
Applications might experience unexpected linter failures, so I'll call this 3.0.

[2018-02-17 14:22] jonathanKingston opened #81 "Missing sinks"
We are missing some sinks here I think:
[code]

Source: https://github.com/WICG/trusted-types/blob/master/README.md

I'm not sure how feasible it would be to check for the `HTMLIFrameElement`.

/cc @mozfreddyb

[2018-03-05 14:41] mozfreddyb commented on #81
Ah, yes.

I think there are various issues we'll need to unpack (and given this will break codebases, the release following it will be another major version bump.)

* We could complain about `.srcdoc =` assignments and `.setAttribute('srcdoc', …)`, that should be relatively easy.
* `DOMParser.parseFromString` is a bit funky, because the problem occurs later if and when somebody uses the document.

[2018-03-05 21:20] jonathanKingston commented on #81
Yeah I don't think it's an issue if `parseFromString` warns though, `write` is a popular function name for example too.

We could add some "best guess" here like we do for `write` and `writeln` perhaps so anything that looks like script.

That [we really should address trusted types](https://github.com/mozilla/standards-positions/issues/20) in the browser. I think our flexibility here is great and

[2018-05-01 14:54] audishos opened #83 "Unsupported Callee for CallExpression"
[code]
It doesn't like dynamic imports 👎

[2018-05-02 08:35] mozfreddyb commented on #83
Hi @audishos. Thanks for filing this issue!

I can't find a way to even *parse* dynamic imports with either the [eslint parser](https://eslint.org/parser/) or the [esprima parser](http://esprima.org/demo/parse.html#).

It looks to me like dynamic imports are still a proposal? Can you add some extra details in which environment you're using them?

[2018-05-04 08:08] mozfreddyb commented on #83
Thanks for clarifying.
I'm not sure we want to support TC39 proposals, regardless of what stage they are in, until they are supported by eslint proper.
However, if you can convince me that it's highly likely to change significantly, I'd be happy to mentor you creating a pull request for dynamic import support.

In the meantime, you could disable the rule with an eslint-specific comment (per line,

[2018-05-04 08:13] mozfreddyb commented on #83
According to [the current draft](https://tc39.github.io/proposal-dynamic-import/#sec-import-calls), it seems like the callee node is called `ImportCall`.

If you want to give this a go, you'd have to allow `ImportCall` callees in [method.js, line 77](https://github.com/mozilla/eslint-plugin-no-unsanitized/blob/78f423978de27eb0554e8b259c368332908631b0/lib/rules/method.js#L77)

[2018-05-07 13:30] audishos commented on #83
I tried `case "ImportCall":` to the list under "those are fine" but no dice. Is this what you meant?

[2018-05-08 10:28] mozfreddyb commented on #83
Thank you for filing this issue @audishos. Let me know if the pull request by @spalger in #84 works for you and I'll make a new release sometime later this week.

[2018-05-11 09:25] mozfreddyb commented on #83
Published!

[2018-05-22 13:29] mozfreddyb commented on #78
I'm afraid we'll have to close this. There's nothing we can do unless eslint becomes web-shippable

[2018-05-22 13:29] #78 closed

[2018-05-22 13:47] mozfreddyb opened #85 "Update documentation to include `createContextualFragment`"
Discussed and implemented in #79, #80. But never implemented.

[2018-05-29 12:53] Yserz opened #86 "Cannot read property 'innerHTML' of undefined"
Hey,

just wanted to let you know that we observed the following error while using this plugin in version `3.0.2`. I'm not sure how to get more information about this issue.
[code]

[2018-05-30 07:18] Standard8 commented on #86
@Yserz Do you know which version introduced this? Was it 3.0.2 or earlier? I'm guessing it is 3.0.2 from the looks of the error.

I think it is potentially an issue with the configuration, please can you post the no-unsanitized parts of your configuration(s)?

[2018-05-30 19:23] audishos commented on #86
I'm seeing the same error on 3.0.2. No issues on 3.0.1. I'm using the following configuration type in my eslintrc file:
`{
    "plugins": ["no-unsanitized"],
    "extends": ["plugin:no-unsanitized/DOM"]
}`

[2018-05-31 09:54] Yserz commented on #86
We have the same configuration as @audishos

[2018-08-05 08:08] mozfreddyb commented on #86
(I've been out of office for a while, please excuse the delay).

I suspect this is strongly related to the code you're scanning. @Yserz, @audishos: Would you be able to find a code snippet that is minimal and reproduces?

[2018-08-10 22:29] Yserz commented on #86
@Standard8 Unfortunately I can't reproduce this anymore. But I would like to add that we are using react and react-intl where react-intl is making use of `innerHTML`. (see https://github.com/yahoo/react-intl/blob/f82383e02cb0d38dfd28649dc2442a2ea2796a44/src/components/html-message.js#L86)

[2018-08-22 14:17] audishos commented on #86
The error message and debug info don't appear to give much information. I'm using VS Code with the eslint plugin and the error pops up on every file with a react component that uses [dangerouslySetInnerHTML](https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml).

[2018-08-22 17:48] mozfreddyb commented on #86
As I said before, I'm *really, really* out of touch with the react ecosystem and everything that is JSX.

Could you come up with a minimal example and instructions on how to reproduce? I'd still be happy to take a look.

[2018-08-22 18:49] audishos commented on #86
I was able to trigger the error with the following file.

[code]

[2018-08-23 06:40] mozfreddyb commented on #86
Thanks @audishos. I think we're getting closer.
I've added your example to the test suite, but I don't see any failures.
After some additional inspection of the error stack, that's doesn't surprise me.
I think I've been hunting the wrong end all along and there is a problem related to the eslintrc.
Would you also be able to share how you've configured this plugin in your project?

[2018-08-23 16:38] audishos commented on #86
Sure thing. Here's the full file.

[code]

[2018-11-28 08:54] realdennis opened #89 "Make a new rule "innerText" property when append script tag?"
[code]
I thought innerText could be harmful in this case when `attack_var` is unsanitized .

[2018-11-28 09:57] mozfreddyb commented on #89
Yes, it's true that `innerText` is harmful when used with script elements.
Our linter does not know anything about types, so there is no way to figure out if the `innerText` assignment is harmless (the common case) or not.

What we've done for `document.write()` is that we created a regular expression for the former part matching stuff like document, contentDocument, etc.

What we /could/ do is cr

[2018-11-28 10:06] mozfreddyb commented on #86
Sorry, I couldn't follow up sooner.
Here's what I noticed:
[code]
What is `no-unsanitized/DOM`? We only provide `no-unsanitized/method` and `no-unsanitized/property`

[2019-02-17 18:41] moz-hwine opened #101 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- the wiki has been disabled, as it was not used

These were made as the result of a recent automated defacement of publically writeable wikis.

[2019-02-26 08:55] koto commented on #83
Didn't this just enable arbitrary script loads? dynamic import accepts expressions, it's even more dangerous than `innerHTML` in that regard, as it directly loads scripts. Perhaps it could be allowed to be called with string literals only?

[2019-02-26 15:13] spalger commented on #83
Interesting point @koto, I recommend opening another issue

[2019-02-26 15:22] mozfreddyb commented on #83
Yeah. That's bad.

[2019-02-26 15:41] mozfreddyb commented on #101
thanks

[2019-02-26 15:41] #101 closed

[2019-02-26 16:11] #83 closed

[2019-03-29 16:57] Mozilla-GitHub-Standards opened #102 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-01 09:23] mozfreddyb commented on #102
domo arigato, mister roboto :pray:

[2019-04-01 09:24] #102 closed

[2019-10-09 08:53] mozfreddyb opened #107 "we have hardcoded sanitizers, that likely nobody uses. We should move them to defaultRulesCheck empty object instead"
See https://github.com/mozilla/eslint-plugin-no-unsanitized/blob/e3efa339e8a0aa1e4702af42db85008a20d8ea2c/lib/ruleHelper.js#L9-10

[code]
when instead we should remove it here and put it into the default configuration.

People can then override it and have better control of what they actually want to allow
This would _not_ be a breaking change.

I've also noticed that we dont have tests for custom

[2019-10-10 07:16] mozfreddyb commented on #107
Issue #108

[2019-10-10 07:16] mozfreddyb opened #108 "add test for custom escaper (template strings)"
as an aside from #107, we dont have tests for custom escapers that accept tempalte strings.

[2019-10-10 07:33] #22 closed

[2019-10-10 07:33] mozfreddyb commented on #13
I think the ruleHelper is providing a majority of this.

[2019-10-10 07:33] #13 closed

[2019-10-24 10:50] LironEr opened #111 "[typescript] Unsupported Callee for CallExpression (NonNullExpression)"
[code]

The error is when using TypeScript `!` sign

[code]

This is my `.eslintrc.js` file
[code]

[2020-01-29 07:40] brettz9 commented on #23
It'd be great if at least `html()` [with a string argument](https://api.jquery.com/html/#html2) were reported.

[2020-02-24 14:20] brettz9 opened #113 "Unsupported Callee for CallExpression (SequenceExpression)"
Hi,

In order to examine the safety of `dist` code, which is often Babelified, one comes across numerous comma-operator expressions such as these which gives an "Unexpected Callee" message in `eslint-plugin-no-unsanitized`:

[code]

The error is triggered as the above `(0, ...)` code is a `SequenceExpression` which is not a handled callee node type in the plugin's `method.js` file.

The reason for

[2020-03-16 10:25] mozfreddyb commented on #113
Thank you for taking your time to write this report!

My pull request #114 ought to fix this, but is pending review for a bit while my previous co-conspirator has left :)

[2020-03-16 10:55] mozfreddyb commented on #113
To clarify, #114 will fix `(foo, document.body.insertAdjacentHTML)('beforebegin', harmful)`

`bind()` is a bit more problematic and should likely be moved to a follow-up issue.

[2020-03-16 11:45] mozfreddyb opened #115 "treat `foo.bind(something).bar()` similar to `foo.bar()`"
We can't do full type detection and it's (hard?) for us to detect stuff like
[code]

in fact, we don't think we ought to do so across the board as we're optimizing for well-intended code that is able to pass code review preferably.

[2020-03-16 13:39] #108 closed

[2020-03-16 14:03] mozfreddyb opened #116 "bump eslint to e.g., 6.x"

[2020-03-16 14:10] mozfreddyb commented on #111
Thank you for filing this.
My experience with typescript is zero, I didn't even know we supported a bit of typescript.
I guess this is blocked on the decision whether we want to support typescript. I can imagine there is an increased cost once I start typescript support, that I'd have to maintain it and I'm not in a good position to do so.

Having said that, here's an early start at how this indiv

[2020-03-16 15:09] #107 closed

[2020-03-18 10:35] #113 closed

[2020-03-19 10:38] mozfreddyb commented on #115
Strategy:
- [ ] add a test that considers these cases as valid/invalid
- valid:
- - `foo.bind(bar).baz()`
- - `document.body.insertAdjacentHTML.bind(document.body)("afterend", foo)`
- invalid: `document.body.insertAdjacentHTML.bind(document.body)("afterend", foo)`

Implementation plan:
When inspecting CallExpressions in https://github.com/mozilla/eslint-plugin-no-unsanitized/blob/master/lib/rules/

[2020-04-30 12:56] brettz9 opened #122 "Unexpected Callee: `AwaitExpression`"
Getting another:

(For `no-unsanitized/method`)

[code]

Thanks!

[2020-04-30 13:16] mozfreddyb commented on #122
Thanks you for reporting! Let me give it a go (long weekend coming up here, might not finish this week) :)

[2020-04-30 13:33] mozfreddyb commented on #122
Well, that's annoying for static analysis.

The thing it's barfing on in particular is that we're calling the result of `await prom`,which I'm sure you know is whatever the promise resolves to.

I don't think we can support that in any kind of way. I'm afraid we have to waive it through. I'll think about it some more, but will throw up a WIP pull request shortly.

[2020-04-30 13:41] brettz9 commented on #122
If `insertAdjacentHTML` is in the mix there somehow, maybe it is safer to report it and let users disable the rule on a case-by-case basis if they find it to be safe?

[2020-05-04 12:58] mozfreddyb commented on #122
insertAdjacentHTML wouldn't report a promise?

This should be disallowed:
[code]

and it would also be disallowed if the AwaitExpression is being called:
[code]

but this shouldn't
[code]

The intent for the eslint rule is to run on code that passes "code review" by other programmers in your project. It does not replace good code review projects.

Makes sense @brettz9? I ought to add that to our t

[2020-05-05 14:56] gdh1995 opened #124 "unexpected AssignmentExpression in normalizeMethodName"
I'm using `terser` (https://github.com/terser/terser) to minify JS code of my own files and 3rd-party libraries, but today when I uploaded a new version of web-extension, the auto tests reported:

[code]

But the code at that place is just:
[code]

I can not get what's wrong with this code part. Maybe this is a bug of this eslint plugin.

This is the zip file with such an error: [vimium_c-1.83.0-f

[2020-05-05 15:04] mozfreddyb commented on #124
I think this might have been fixed with #114, which made it into version 3.1.1, that is in this repo but not published to npm. my bad!

[2020-05-05 15:07] mozfreddyb commented on #124
version 3.1.1 should now be published on npm: https://www.npmjs.com/package/eslint-plugin-no-unsanitized

Let me know if it doesn't fix it and I'll be happy to look into your issue again.

[2020-05-05 15:07] #124 closed

[2020-05-06 03:08] brettz9 commented on #122
Understood. One would presumably pretty much need to entirely block access to `window` (and aliases) and `document`/`location` (and eval and global computed properties) to prevent all forms of malicious DOM injection. Even if all of the string injecting methods could be caught, dangerous use of DOM methods could still occur as a result of the developer code iterating over untrusted JSON, leading t

[2020-05-06 08:00] mozfreddyb commented on #122
Yeah, advanced static analysis is IMHO widely out of scope for ESLint. Once you get into cases that require you to look beyond a specific function block, you'll have to deal with Code Flow Graphs, variable tainting and so on. I find this especially tricky with languages like JavaScript where you do not even have types :-)

If you want to dig further for the purpose of research and study, I highly

[2020-05-07 02:28] brettz9 commented on #122
Wonderfully stated.

While I use LGTM myself, when looking through CodeQL docs, I had gotten the impression that certain components related to it were not open sourced or required querying a server (sorry I cannot recall now and could be mistaken).

I do like having things work within my existing ESLint pipeline, but yes, the potential for the deep analysis of CodeQL is a very big draw if I can ge

[2020-05-07 06:42] mozfreddyb commented on #122
FAIU You can query a server who builds the analysis database centrally, but your own private projects you might as well run it all locally, because it's all open source. I've run codeql against Firefox locally. Building the database takes a lot of time, so offloading makes sense. But local is possible.

[2020-05-08 08:38] gdh1995 commented on #124
Em, when will https://addons.mozilla.org/ update its node modules? I just took a new try but this issue is still there (same line number and column number).

Test file: [vimium_c-1.83.1-firefox-3d3a232.zip](https://github.com/mozilla/eslint-plugin-no-unsanitized/files/4597895/vimium_c-1.83.1-firefox-3d3a232.zip)

[2020-05-13 07:27] mozfreddyb commented on #116
#125

[2020-05-13 07:27] #116 closed

[2020-05-13 11:18] ffflorian opened #126 "[typescript] Unsupported Callee of type 'TSAsExpression' for CallExpression"
I was mapping functions and values from one object to the other when I got `Error in no-unsanitized: Unexpected Callee.`

The error happened in `map[key] = (value as any)();`

Minimal example:

[code]

[2020-05-13 14:31] mozfreddyb commented on #126
Please see https://github.com/mozilla/eslint-plugin-no-unsanitized/issues/111#issuecomment-599557165 about TypeScript support.

[2020-05-31 10:43] gdh1995 commented on #124
@mostlygeek This issue still exists on https://addons.mozilla.org/ when I uploaded a new version of extensions today.

[2020-06-03 18:59] mostlygeek commented on #124
@gdh1995 I think you may have pinged the wrong person.

[2020-06-03 19:50] mozfreddyb commented on #124
yeah, that's an issue with the code that is consuming this rule (https://github.com/mozilla/addons-linter). paging @rpl @EnTeQuAk

[2020-06-04 08:33] mozfreddyb commented on #57
#122, #123

[2020-06-04 08:33] #57 closed

[2020-06-08 15:13] rpl commented on #124
I just double-checked this locally, using an addons-linter build that is already using eslint-plugin-no-unsanitized version 3.1.1 (and so it is already including #114) but the linting errors are still being triggered.

It looks that we may have to special case this scenario in the plugin itself, and then update the addons-linter to use an updated version of eslint-plugin-no-unsanitized.

I took a

[2020-06-08 15:31] rpl commented on #124
I just filed mozilla/addons-linter#3202 to track this issue also on the addons-linter repo.

[2020-06-08 19:03] #122 closed

[2020-06-09 09:54] mozfreddyb opened #128 "consider removing a test case"
The test case `code: "(e = node.insertAdjacentHTML('beforebegin', evil))()",` might be obsolete. Needs investigation in coverage before we remove it.

[2020-06-10 10:52] mozfreddyb opened #130 "Add npmignore: releasing with `npm publish` contains a lot of unrequired crap"
Could be a good bug for a contributor:
Adding an npmignore would help us reducing bloat and prevent us from unexpectedly adding unwanted stuff to our packages. This page contains further info https://blog.npmjs.org/post/165769683050/publishing-what-you-mean-to-publish

[2020-06-10 10:54] mozfreddyb commented on #130
individual action items:
- [ ] figure out how npmignore files work (link above)
- [ ] add npm publish with known source files and docs
- [ ] do an alpha-release with that npmignore file and push it as an alpha version to npm
- [ ] have someone from the core contributors (e.g., me :)) download that release and verify it still works (e.g., using tests)

[2020-06-10 12:48] mozfreddyb opened #131 "expose and analyze nyc coverage info"
We just enabled coverage info, but don't really use it anywhere. It's time we drive test coverage up, remove useless tests (#128) and add tests where required.

This bug is about the first steps of exposing the coverage delta on pull requests and filing follow-ups for code that isn't well covered.

@brettz9 do you happen to be interested? :slightly_smiling_face:

[2020-06-11 03:10] brettz9 commented on #131
While I'd love to help (no less with such a competent and good-natured project lead as yourself!), my plate has gone to overflowing. Will keep in mind though if I end up getting freed up.

[2020-06-12 21:18] LukeWoodG commented on #111
Hey there @mozfreddyb !

I work on [Cloud Shell](ssh.cloud.google.com) and would like to use eslint-plugin-no-unsanitized on some of our code.   Unfortunately it is typescript code.

If I get a PR ready to add support for these features would you be willing to accept it?

[2020-06-15 08:06] mozfreddyb opened #133 "debating typescript support and maintenance"
Hi @LironEr, @LukeWoodG  and @ffflorian (included due to our recent discussions in #126 and #111),

I understand that you're using this rule and need typescript support, but I feel hesitant to add support for something that we don't use ourselves and won't be able to provide prioritized maintenance as we would do for other issues and now I'm considering my options. Here's me trying to summarize my

[2020-06-17 19:49] LukeWood commented on #133
Hey there @mozfreddyb (switched github accounts),

I've been working on a PR and would benefit greatly from your review when it's ready.

I also think avoiding a fork would be great - that being said I'll need to confirm with our team that we are willing to take up ownership of typescript support.  I'll keep you posted :)

[2020-06-22 22:14] LukeWood opened #134 "Document usage of custom escape methods"
Any example of this can be found here:
https://github.com/mozilla/eslint-plugin-no-unsanitized/blob/master/tests/rules/property.js#L142

Is it possible to get documentation showing an example of this in an eslint rc?

[2020-06-23 07:42] mozfreddyb commented on #134
Yeah, that's a variation of [docs/rules/customization.md](https://github.com/mozilla/eslint-plugin-no-unsanitized/blob/master/docs/rules/customization.md#advanced-configuration), which is admittedly full of TODOs.

- the property `methods` specifies a list of functions that accept a string a return a sanitized string.
- the property `taggedTemplates` specifices a list of functions that are used wi

[2020-06-23 15:53] erosman opened #135 "distinguishing between global functions and classmethods (Improve 'import' keyword warning)"
transferred from: https://github.com/mozilla/addons-linter/issues/3182

When uploading my addon I noticed a warning by the validator:
It appears that the `class` method named `import` generates the warning meant for JavaScript method `import`.

The code in question (simplified):

[code]

[2020-06-23 18:02] LukeWood commented on #134
Thanks for your quick response Frederik!

[2020-06-24 04:37] glacambre opened #138 "unexpected CallExpression in normalizeMethodName"
Hi, I believe I found a bug, reproducible with the following line:

[code]

Which results in the following messages:
[code]

I believe this is preventing me from uploading new versions of my addon to AMO, I get stuck on the upload phase (not getting any warnings back). Would it be possible to temporarily roll back this change? I have a pretty big bug in my addon that I would like to deploy a fix f

[2020-06-24 05:07] glacambre commented on #138
Looks like the issue I was having with the AMO upload process not finishing is gone, so it was probably unrelated to the issue I'm reporting here.

[2020-06-24 07:04] mozfreddyb commented on #138
The former violation seems like a valid violation in your code that you ought to fix. The second is interesting and likely needs a patch & test. Looking.

[2020-06-24 07:06] mozfreddyb commented on #135
Indeed, we should find out if there's a way to distinguish between built-ins and class methods.
According to astexplorer.net, it seems we could whitelist MethodDefinitions and treat them differently.

[2020-06-24 07:30] mozfreddyb commented on #135
Hm, so this is a tiny bit trickier than I thought. the syntax tree is as follows (excerpt):
We have a CallExpression (which is where we start looking), in which "this.import" is called (that's a MemberExpression with a ThisExpression and an Identifier called "import").

Looking up the syntax tree, we'll eventually find that we're in a FunctionExpression that belongs to a MethodDefinition within a

[2020-06-24 07:36] erosman commented on #135
If you are asking me, is there a way to establish whether `this` refers to a specific object or it is global (e.g. window object)?

[2020-06-24 08:26] mozfreddyb commented on #135
Hm. The way dynamic imports work is still not completely finished, it seems.
There are significant ast differences between parsers on astexplorer.net.
It's hard to tell between good and bad cases when the bad cases are still changing :|

As a temporary workaround, I suggest using a different function name. But I **will** get back to this!

[2020-06-24 08:36] mozfreddyb commented on #138
Uh. Can you supply code for the violation that caused the "unexpected callable" error? I don't think I can reproduce...

[2020-06-24 08:46] erosman commented on #135
It is only a warning and does not (should not) complicate the review process (I am an add-on reviewer myself).

I have already made some changes to get rid of the `using dynamic values` which is the heart of the warning e.g. `(e) => this.import(e)`, by not using the arrow function to bind `this` to the Class Object. e.g.:

`document.getElementById('file').addEventListener('change', this.import);`

[2020-06-24 10:33] glacambre commented on #138
The code was obtained by compiling [my extension](https://github.com/glacambre/firenvim) and the error triggered by running `[web-ext](https://github.com/mozilla/web-ext) lint` on it. I can consistently reproduce this issue with the one-liner I gave you so having the whole code base probably is the difference between what I'm doing and what you're doing.

I've attached my extension to this comment

[2020-06-27 12:17] glacambre commented on #138
Here's a smaller reproducer: `x.innerHTML = y()()`.

The error is triggered with the following stack trace:
[code]

The node that triggers the error looks like this:
[code]

So the problem is that we try to find the name of the function being called in normalizeMethodCall and we can't, because the function being called is dynamic. I don't think this is a problem that can be solved (unless you're h

[2020-06-29 06:21] mozfreddyb commented on #138
Yeah. Thanks for digging into it and coming up with an explanation. I agree that we can not look into what "y()" returns and need to bail out (i.e., allow). Please go ahead and issue a pull request, but please include a test.

[2020-06-29 22:24] LukeWood opened #140 "Examine possible other vulnerabilities that may make sense to support"
Hey @mozfreddyb,

Now that Typescript support is wrapping up I'd like to run something by you!

I've been working on a suite of rules to run over various frontends to scan for xss vulnerabilities.
The list of xss sinks I'd like the suite to handle are:

- innerHTML, insertAdjacentHTML document.write  (done by your plugin)
- dangerouslySetInnerHTML (react)
- eval
- setTimeout (passing user defined

[2020-06-30 08:58] mozfreddyb commented on #140
I want to prevent this eslint plugin from being a one-stop-shop for all things dangerous JavaScript. It wouldn't be super immediately useful for the ways we are using the plugin at Mozilla.

The issues with assignments to script.src, a.href, window.location, and react props are really only possible with type annotations, which makes it tricky to support fully. There are also lots of rules out ther

[2020-06-30 15:36] LukeWood commented on #140
sounds good & totally understand.

Thanks Frederik!

[2020-06-30 15:36] #140 closed

[2020-08-11 17:26] Siegrift opened #144 "Unsupported Callee of type TSNonNullExpression for CallExpression"
Hi,

I ran your plugin on [https://github.com/angular/components](https://github.com/angular/components) and there was an error in `no-unsanitized/method` rule.

Steps to reproduce the issue:
1. Add eslint to that project. My `.eslintrc.json` looks like this
[code]

2. `yarn eslint "src/**/*.ts"`

[2020-08-12 08:51] Siegrift commented on #144
Also happens when tried in https://github.com/chakra-ui/chakra-ui. The error happens when linting `chakra-ui/packages/popper/tests/popper.utils.test.ts`

[2020-08-12 08:53] mozfreddyb commented on #144
@Siegrift Can you share the source line in which this error occured?

[2020-08-12 08:53] mozfreddyb commented on #144
CCing @LukeWood :-)

[2020-08-12 09:09] Siegrift commented on #144
This is the output when running the plugin in angular-components.

![output](https://user-images.githubusercontent.com/22679154/89997255-3458fa00-dc8c-11ea-9502-e011a55e173b.png)

When runing in chakra-ui, the error is on line 4.

[2020-08-12 09:19] mozfreddyb commented on #144
I was asking for the offending lines in your source code.
Anyway, I have found [the offending lines from youtube-player.spec.ts](https://github.com/angular/components/blob/3828b7e2e8e4a00d33892c9f5de3f8fad55fd01b/src/youtube-player/youtube-player.spec.ts#L391) in the end, though.

@LukeWood do you think you can make a patch with a test case? We basically need to run the same code we do for a funct

[2020-08-12 17:03] LukeWood commented on #144
Thanks for CCing me - yes let me do that!

[2020-08-20 08:20] mozfreddyb commented on #144
Ping @LukeWood :)

[2020-08-24 18:21] LukeWood commented on #144
[code]

is reporting "Unsafe call to document.write for argument 0" at the current HEAD commit - so while not exactly right it shouldn't be erroring the way described above.  Maybe the version the user is running w/ is behind?

[2020-08-26 06:52] mozfreddyb commented on #144
@LukeWood OK, let's fix the test mismatch. I think we use zero-indexed argument reporting.
@Siegrift can you confirm that this error doesnt show up when you use the eslint plugin directly from github?

[2020-08-26 11:28] Siegrift commented on #144
Yes, I confirmed on angular/components and got 0 crashes.

[2020-08-26 16:45] denishowew opened #145 "Unsupported Callee of type Literal for CallExpression"
Minimal code to reproduce:
`0()`
This was derived from running addons-linter on code output by webpack, which seems to be minifying the bluebird library wrongly, which may be what is causing our browser extension to fail validation when we try to get it signed for Firefox.

[2020-08-27 07:46] mozfreddyb commented on #145
I'm not sure how I can help you here.
Why would you want to be able to lint code that won't run?

[2020-08-27 12:19] denishowew commented on #145
It reproduces an error we get from code that does run despite this oddity, and addons-linter asked me to report it (sorry about the column layout):
[code]
Shouldn't a linter tell you that your code is stupid rather than suggesting that the linter is broken?

[2020-08-27 12:29] mozfreddyb commented on #145
_A_ linter could tell you that your code is stupid.
I don't know whether that linter should be eslint-plugin-no-unsanitized though.

[2020-08-28 01:25] LukeWood commented on #144
ah if we use zero indexed argument reporting then we are fine.

[2020-08-28 01:26] LukeWood commented on #144
we can still add these as test cases but I don't think they cover any new ground.

[2020-09-04 03:03] ebkhalilzadeh opened #146 "unexpected ConditionalExpression in normalizeMethodName"
I was uploading my extension to the Firefox store for signing but got some strange errors and stayed in waiting mode.
Here is my extension:
[swash-1.1.6.zip](https://github.com/mozilla/eslint-plugin-no-unsanitized/files/5172418/swash-1.1.6.zip)

I also attached the lint errors:
[lint.log](https://github.com/mozilla/eslint-plugin-no-unsanitized/files/5172415/lint.log)

Is there any workaround for t

[2020-09-08 18:50] LukeWood commented on #144
lets close - I don't think this really covers new ground!

[2020-09-10 07:13] #144 closed

[2020-09-11 07:58] mozfreddyb commented on #146
We are unable to go through all submissions manually. Especially when it's minified code or bigger projects (like addons). Please submit the source code line that triggered the issue. A couple of lines context before/after are likely helpful.

[2020-09-30 11:34] gijsk opened #147 "Unsupported Operator for AssignmentExpression - no support for logical nullish assignment operator"
Running:

[code]

through this plugin fails with:

[2020-09-30 13:23] #147 closed

[2020-09-30 15:25] gijsk commented on #135
So this is blocking updating the in-mozilla-central (ie Firefox's) version of this library because we use `ChromeUtils.import` all over the shop (although addmittedly it's relatively rare to be using an identifier as the first argument).

@mozfreddyb would you take a patch to not warn for method calls to `import`? As far as I can tell, in modern JS parsers, `import` is treated as a special keyword

[2020-10-01 07:59] mozfreddyb commented on #135
As I mentioned previously, there's still lots of differences in how dynamic imports are parsed into ASTs. I hope we can account for that (details in your pull request) and resolve this. Thanks for taking a look @gijsk

[2020-10-01 11:42] #135 closed

[2020-10-01 15:16] #130 closed

[2020-10-25 04:52] poteat opened #152 "Error "Unexpected Callee" thrown after non-null assertion of a function"
**The error message is:** `Error in no-unsanitized: Unexpected Callee.`

**My ESLint version is:** `7.12.0`

**My `eslint-plugin-no-unsanitized` version:** `3.1.4`

**The minimal code to reproduce:**
[code]

Thanks!

[2020-10-26 10:23] mozfreddyb commented on #152
@LukeWood This seems to be related to TypeScript support. Can you take this?

[2020-10-26 10:25] mozfreddyb commented on #152
@poteat Thanks for filing! We at Mozilla do not use TypeScript and our support is mostly community driven. Let me know if you want to get involved, otherwise we'll have to wait for our main TS support contributor.

[2020-10-26 10:26] mozfreddyb commented on #146
@ebkhalilzadeh We're going to close this issue unless you can come up with a minimal test case.

[2020-10-26 10:28] mozfreddyb commented on #111
I think this issue can be closed. @LironEr pls file a new one if I'm mistaken here.

[2020-10-26 10:28] #111 closed

[2020-10-29 19:16] LukeWood commented on #152
sure thing

[2020-10-29 19:20] LukeWood commented on #152
Hmm, I can't reproduce locally.  @poteat I'm not sure why you're encountering this.

[2020-12-17 01:41] hwine opened #153 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2021-01-20 13:37] ragmha opened #154 "Unsupported Callee of type TaggedTemplateExpression for CallExpression"
The error message is: `Error in no-unsanitized: Unexpected Callee.`
ESLint version is: `7.15.0`
eslint-plugin-no-unsanitized version: `3.1.4
`
The minimal code to reproduce:

[code]

Thanks!

[2021-01-20 14:58] mozfreddyb commented on #154
Wow, that is oddly written code. But I'll accept that this is a thing, looking at https://jestjs.io/docs/en/api#2--testeachtablename-fn-timeout-

[2021-01-20 15:00] mozfreddyb commented on #154
Technically, the invokation of test.each with a template string is a tagged template string.
That must be returning a function, which in itself is being called with a string (`returns ..` and an arrow function (`({a, b, expected ...`) as the parameters.

What kind of function is that test.each tagged template string supposed to return?

[2021-01-21 14:03] ragmha commented on #154
It returns expect of each test cases

E.g
[code]

[2021-01-21 14:09] mozfreddyb commented on #154
I'll come up with a patch that will accept this as a valid callable, but the linter won't be able to dive in and perform a security analysis for dynamically generated functions... Thank you for filing this!

[2021-01-21 14:10] mozfreddyb commented on #152
@poteat, can you confirm this is an issue with the latest version? If not, we're going to close this as incomplete...

[2021-02-24 01:02] jdlm-stripe opened #155 "Unsupported Callee of type TypeCastExpression for CallExpression"
eslint-plugin-no-unsanitized version: `3.1.4`

I ran into an issue with the plugin when we explicitly annotate functions in flow and try to execute them. I've repro'd the issue with a couple versions of eslint which implies it's likely a bug here. Here's a minimal repro:

_index.js_
[code]

Error:
[code]

[2021-02-24 08:05] mozfreddyb commented on #155
Thank you for filing the issue!

TypeScript support is experimental, as we do not use TypeScript ourselves.
But I'd be happy to mentor you or someone else getting this through, the patch should be very similar to what we did in #137.

Paging @LukeWood and @LukeWoodG for visibility.

[2021-02-24 16:19] jdlm-stripe commented on #155
And thank you for your prompt response! Totally makes sense and thanks for linking that reference PR. I'll circle back in a few weeks if I can carve out the time to fix it.

[2021-02-25 17:23] LukeWood commented on #155
thanks - keep me posted @jdlm-stripe.  if you have any trouble creating a fix feel free to message me

[2021-03-26 09:51] mozfreddyb opened #159 "Ensure Unsupported Expressions are always throwing"
We have loud, annoying errors for unexpected and unsupported expressions. This helps us keep up-to-date with upcoming and bleeding edge JavaScript features and is a nice forcing function to make sure we're doing so well. (as an aside: Historically, the incentive for most reporters is unfortunately to "make the error go away" rather than scanning the new expression thoroughly and well, but that jus

[2021-04-06 10:58] #155 closed

[2021-04-09 09:30] mozfreddyb opened #161 "Clarify with documentation and tests where our limitations are"
Some limitations might be obvious, but we should state them nevertheless.

As a follow-up from #157, but also in relation to https://bugzilla.mozilla.org/show_bug.cgi?id=1701169, I think this project needs a good explanation of where we stop looking for what's being called when looking at a CallExpression.

Especially in contrast to looking at function parameters andassigment epxressions that we a

[2021-04-12 11:43] #154 closed

[2021-04-12 11:44] mozfreddyb commented on #153
fixed with #158

[2021-04-12 11:44] #153 closed

[2021-04-12 11:44] #152 closed

[2021-04-12 11:45] #146 closed

[2021-04-12 11:48] mozfreddyb commented on #145
First of all, I want to apologize for the tone I have been using above, that was not nice.

My point, however, was that I don't think it's legal JavaScript to call a number literal and I don't want us to have workarounds for incorrect JavaScript. That being said, I'd like to know more about this specific case and why it comes up - is it a bug in webpack?  Is it legal JS and do we need to fix this?

[2021-04-12 11:59] denishowew commented on #145
Your tone was lovely, it was _me_ that was calling webpack's code stupid, if that's what you meant.  But anyway, webpack is no longer producing this code and no sane person would so it's probably no big deal if it breaks the plugin, if indeed it still does.  Let's close the ticket and pretend it never happened. :-)

[2021-04-12 11:59] #145 closed

[2021-04-19 14:27] ChitraVijayamma opened #163 "Unsupported Callee for CallExpression no-unsanitized/method"
In the following test case

 test.each`
        input    | expectedResult
        ${true}  | ${true}
        ${false} | ${false}
    `(
        "Should return $expectedResult when passing in $input",
        ({ input, expectedResult }) => {
            const { result } = renderHook(() => useEsignAgreement());
            act(() =>
                result.current.setEsignAgreementValue(getSlotData(i

[2021-04-20 06:40] mozfreddyb commented on #163
Thank you for the detailed report.
It looks like this was recently fixed in #157. Did you try the latest version v3.1.5?

[2021-06-24 11:17] mozfreddyb opened #167 "tracing variables back through definitions and references to reduce false positives"
ESLint provides a [scope interface](https://eslint.org/docs/developer-guide/scope-manager-interface) that allows tracing variables back to their definitions and other references.

This can be used to see if the variable `foo` in `el.innerHTML = foo` traces back to a hardcoded string and is therefore secure.

For this to work, one needs to ensure that backtracing can not be fooled into believing an

[2021-06-24 11:23] mozfreddyb opened #168 "Write tests to ensure variable references and definitions tracking is in order"
The work in #167 to trace variables back through the code starts disallowing the code if one definition or reference looks unsafe, even if a later assignment would cause this to be overwritten by an allowed value (e.g., a literal).

It might be possible to have tests that make sure those are in order so as that might unlock better variable tracing.

There is an obvious issue with uncertainty about

[2021-07-07 12:04] mozfreddyb commented on #126
We hope to support TS as per #113, closing this one.

[2021-07-07 12:04] #126 closed

[2021-07-07 12:41] ffflorian commented on #126
Thanks, looking forward @mozfreddyb!

[2021-07-07 13:21] mozfreddyb commented on #168
I think it would be better not to take order into consideration at all, given deynamic behavior and close this as WONTFIX. Thoughts, @rpl?

[2021-07-07 13:22] mozfreddyb commented on #163
@ChitraVijayamma I am going to close this repor since we have not heard back from you. Please let us know if this is still an issue and we'll think of something though.

[2021-07-07 13:22] #163 closed

[2021-07-07 14:11] rpl commented on #168
:+1: yeah, I would also feel way less tense of "potentially marking as safe something that isn't", figuring out the order at rutime may be quite tricky and error prone.

e.g. even if we would require that the variable initialization and all assignments before the assignment to .innerHTML to be safe, I'm wondering if something like this would still trick the rule:

[code]

In this case the unsafe a

[2021-07-28 14:03] amitkp568 opened #171 "unexpected ConditionalExpression in normalizeMethodCall"
Faildt

[2021-08-02 07:23] mozfreddyb commented on #171
Hi @amitkp568, can you submit a minimal test case with the failing source line?

Otherwise, I will not be able to help you.

[2021-08-12 11:29] mozfreddyb opened #172 "Rewrite the long if-else chain in allowedExpression into case/switch statement (after #167, #169)"
The long if-else chain in `allowedExpression` (RuleHelper.js) is really long and would be better if it was a case/switch statement.

[2021-08-18 16:08] Giecik566 opened #174 "unexpected ConditionalExpression in normalizeMethodCall"

[2021-08-18 16:08] Giecik566 opened #175 "unexpected ConditionalExpression in normalizeMethodCall"

[2021-08-20 08:20] #175 closed

[2021-08-20 08:21] mozfreddyb commented on #175
Duplicate of #174.

[2021-08-20 08:22] mozfreddyb commented on #174
Hi @Giecik566, this issue is not very helpful without any additional context.

Can you please try and reduce the error you are seeing to a specific source line and share that source line with us?
Otherwise we will be unable to help you resolve your issue.

[2021-08-20 08:53] mozfreddyb opened #176 "Fix/Adjust so that `isAllowedIdentifier` gives a more helpful message for missing variableInfo"
Naturally, this will also need to change tests.

[2021-08-24 14:50] #167 closed

[2021-08-24 14:52] mozfreddyb opened #178 "move `isAllowedIdentifier` logic behind an option"
As discussed in #167, we considered moving the logic behind an option, before we do a release.
Then, release a semver-major update and flip this on by default.

[2021-09-10 11:54] #174 closed

[2021-09-10 11:54] #171 closed

[2021-09-10 11:55] #168 closed

[2021-09-10 11:56] mozfreddyb commented on #159
#170

[2021-09-10 11:56] #159 closed

[2021-09-10 11:57] mozfreddyb commented on #138
I think this should be fixed with recent pull requests (was it #171?). Let me know if this is not the case and I'll happily reopen!

[2021-09-10 11:57] #138 closed

[2021-09-10 12:00] mozfreddyb commented on #89
This should be relatively simple. If there's enough interest, I'm happy to guide someone along the way.

[2021-09-10 12:19] mozfreddyb opened #180 "No test, no code coverage for TSAsExpression case in `checkCallExpression`"
`nyc`  is reporting no code coverage for the lines https://github.com/mozilla/eslint-plugin-no-unsanitized/blob/8dae8ae6db66a3ea91b5d2d9469f8e78666ee2fb/lib/rules/method.js#L129-L130.

Would be nice if someone could think of a a piece of TypeScript code for the method.js tests, that calls a TSAsExpression.

Here are the exact steps:
1. Clone the repo, install dependencies (I am expecting the perso

[2021-09-12 09:59] Lawful2002 commented on #89
Hello @mozfreddyb, I would like to work on this issue. Could you please guide me on how to proceed?

[2021-09-13 10:59] mozfreddyb commented on #89
Sorry, I'll need to de-prioritize this.
If anyone wants to fix this for themselves, here's a suggestion:
Use a custom configuration that adds a check on `property` where the assigned-to property is `innerText` and it will complain for all `innerText` assignments or add a key to the underlying object called `matches` which allows regex matching on the object variable on which the `.innerText` prope

[2021-09-28 10:45] #178 closed

[2021-10-18 08:56] mozfreddyb commented on #172
#181 fixed this.

[2021-10-25 08:13] willdurand opened #185 "List ESLint v8 in `peerDependencies`"
[ESLint v8](https://eslint.org/blog/2021/10/eslint-v8.0.0-released) has been released. Assuming this plugin works with ESLint v8 (which I think is the case), could we update the `peerDependencies` entry in the `package.json`?

On some Node/npm versions, this plugin cannot be installed correctly with ESLint v8 because of [this strict constraint](https://github.com/mozilla/eslint-plugin-no-unsanitiz

[2021-11-01 12:41] #185 closed

[2021-11-24 19:49] willdurand opened #188 "Error when a non-initialized variable is used in a template string"
This is the currently failing test case:

[code]

## Expected

No error.

## Actual

[code]

[2021-12-07 13:08] Paippi opened #190 "Support bracket notation (computed member expressions)"
Hey,

Noticed that using bracket notation you may bypass these lint, e.g., `document.write(foo)` gets flagged but `document["write"](foo)` doesn't.

Could we get support for this?

BR,
Paippi

[2021-12-07 13:50] mozfreddyb commented on #190
Hi,

thank you for this suggestion. We have indeed thought about this case at various stages in the past.
However, this linter rules was built for the engineering culture and practices of Mozilla's projects, specifically Firefox.
At Mozilla, we require for all new code to be subject to [code review](https://firefox-source-docs.mozilla.org/devtools/contributing/code-reviews.html) and go through man

[2021-12-08 08:26] #188 closed

[2021-12-16 12:36] Paippi commented on #190
Hey,

sorry for the late response. I have few suggestions.

1. How about if we only check against string literals? I know this isn't fool proof but perhaps a minor improvement.
2. On the contrary to what I just suggested, what if we make a special case of the `document` variable. So that method calls with unsanitized use of variables in bracket notation would be flagged perhaps as a warning only?

[2021-12-16 12:43] mozfreddyb commented on #190
Can you supply test cases for conforming/non-conforming code for your point (1)? I'm not sure I fully understand.

Regarding 2): It's a great idea. I think it could be cool to disallow computed properties off of the known globals (document, windows, ...) generally. But I don't think it would fit into *this* linter plugin here. Using the source code of other rules like https://eslint.org/docs/rules

[2022-01-04 10:21] mozfreddyb commented on #190
Thank you for taking the time to provide a test case and a pull request. The code you suggest should be flagged by this rule is quite...obscure imho and I'm doubtful we should take it into consideration for the linter plugin.

After all, what I said in my first comment still holds true: We expect code to be undergone peer review before being scanned and I can't imagine anyone committing code like

[2022-01-04 10:41] Paippi commented on #190
Alright I understand. I just thought that even though it would go through peer review it might not do any harm to have this as a addition, of course it might mean more test cases to maintain.

Considering if you, e.g., ever decide to fork another repository and would like to enforce linting rules it might be helpful to just quickly fix these issues, even though it might be that this kind of code n

[2022-01-04 10:44] mozfreddyb commented on #190
A separate linter plugin that identifies code like `document["write"]` and fixes it with `document.write` would be a super useful addition to the eslint ecosystem.

Thank you very much for coming up with the idea, example and pull request!

[2022-01-04 10:44] #190 closed

[2022-01-19 21:26] serv-inc opened #193 "Unsupported Callee of type TemplateLiteral for CallExpression"
[code]

See https://github.com/serv-inc/safe-search/blob/master/addon/google_safe_fallback.js

[2022-01-20 08:21] mozfreddyb commented on #193
Thanks for filing this. The line in question is undoubtly the third, which I have a really, really hard time parsing in my head :)
What is the intention of this code here?
It **reads** to me as if you just want the string `document.querySelector('a[href*="safeui=on"')?.click();` assigned to `textContent`. But that's not what this line is doing!

With those three backticks, you'd end up with a [Tag

[2022-01-21 13:01] mozfreddyb commented on #193
@serv-inc?

[2022-01-21 16:06] serv-inc commented on #193
@mozfreddyb : great, thanks a lot

[2022-01-21 16:06] #193 closed

[2022-01-22 12:00] serv-inc commented on #193
Thanks for the plugin, and for pointing out the problem :-D

[2022-02-03 13:07] mjohnst opened #194 "Unsupported Callee of type YieldExpression for CallExpression"
Writing react/redux code in Typescript and was experimenting to see if I could call result of yield'd `select` (with some parameters (I do not believe you can actually do this, but I was just seeing if it would work).
`select` from `redux-saga/effects` version `1.0.5`

This triggers the eslint error, though in practice I was passing some parameters:
[code]

[2022-02-03 13:46] mozfreddyb commented on #194
Yes, that's definitely a bug. Thanks!

[2022-02-03 13:55] mozfreddyb commented on #194
Theoretically, if you had a select function that returns functions and then we'd not be able to scan it. Because you could return whatever function, which is a hard-stop for all sorts of static analysis.

I think we have some existing code that gives up and says "ok, that's bad. stop doing that" which I could reuse. I'm pretty sure the YieldExpression is just an omission here.

@mjohnst: Do I corr

[2022-02-03 22:53] mjohnst commented on #194
@mozfreddyb correct, this is not blocking me at all

[2022-03-02 21:25] Minetu opened #196 "unexpected FunctionExpression in normalizeMethodCall"

[2022-03-03 08:07] mozfreddyb commented on #196
Hi @Minetu, thank you for reporting this issue.

Can you share a reduced test case error occurred for you?

[2022-03-14 20:04] #196 closed

[2022-03-19 20:05] mangs opened #197 "Consider supporting the browser-native HTML Sanitizer API"
Hi folks. Thanks for the useful tool. 😀

Current DOM sanitizer libraries can be fairly large. Happily, there's an upcoming standard being considered that does the same thing but is native to the browser. I'm hoping it comes to Deno and Node.js too.

You can read more about it here: https://developer.mozilla.org/en-US/docs/Web/API/HTML_Sanitizer_API

Would be great if you picked up support for this

[2022-03-19 20:06] mangs commented on #197
Here's an overview article too if it helps: https://blog.logrocket.com/what-you-need-know-inbuilt-browser-html-sanitization/

[2022-03-20 15:20] Minetu opened #198 "minetupay tokenAddress"
0x284bf180fa8238Bb15618a1b08198044dd9555f9

[2022-03-22 08:49] mozfreddyb commented on #197
That's a great idea. I really like the Sanitizer API too.

[2022-03-30 20:55] Delegat43 opened #200 "unexpected FunctionExpression in normalizeMethodCall"

[2022-03-31 02:04] Delegat43 opened #201 "unexpected FunctionExpression in normalizeMethodCall"

[2022-04-04 08:16] mozfreddyb commented on #201
Duplicate of 200.

[2022-04-04 08:16] #201 closed

[2022-04-19 13:51] mozfreddyb commented on #200
@Delegat43 Can you please provide more information? Otherwise we might have to close this issue.

[2022-04-22 06:22] #197 closed

[2022-05-24 14:20] Abdullilah opened #205 "Exclude the sanitised code with DomSanitizer sanitize function"
It would be good if this plugin excluded the code which is sanitised by the sanitize function from the DomSanitizer.

Example:
`this.hostElement.innerHTML = content;`

this is unsanitized content which makes sense for the plugin to complain about it, but when we sanitise the content:

`this.hostElement.innerHTML = <string>this.domSanitizer.sanitize(SecurityContext.HTML, content);`

I am still gett

[2022-05-31 08:24] mozfreddyb commented on #205
We allow custom sanitizers through configurations.
See this testcase to check that users can allow DOMPurify: https://github.com/mozilla/eslint-plugin-no-unsanitized/blob/d50ae4d0dd886d04139bec63fc4490a18f61a4d9/tests/rules/property.js#L154-L164 (Added in #108).

Does that not work for you?

[2022-06-07 07:28] mozfreddyb commented on #205
In your example, you're modifying the options of the `no-unsanitized/method`, which protects you from calling *methods* (e.g., `insertAdjacentHTML()`, `document.write()`, ..).

You also need to do this for the `no-unsanitized/property` rule which protects *properties* (e.g., `.innerHTML`)

[2022-10-10 12:08] nikicat opened #207 "unexpected AssignmentExpression in normalizeMethodCall"
Hello, I get this warning when submitting my extension to AMO.
It's triggered by this Svelte.js code
[code]

I suppose it's generated from [this line](https://github.com/sveltejs/svelte/blob/81d4dbad99f2c349ced55c65f7ac2db704a771f6/src/runtime/internal/await_block.ts#L46)

[2022-10-11 11:15] mozfreddyb commented on #207
Hey @nikicat, thanks for the report. I think this is a simple case. I'll take a look.

[2022-10-14 07:18] #207 closed

[2022-10-14 07:20] mozfreddyb commented on #207
Latest `main` branch should have this issue fixed.
I'd really appreciate if you can confirm that this work for you before we cut another release.
Please tell me if you *can't* test, in which case we'll defer making a release.

[2022-10-19 11:36] tyteen4a03 opened #209 "Changelogs"
Hi, I'm currently dependent on the v3 release. I can't seem to find a changelog detailing what BC breaks v4 had, could this be added please?

[2022-10-20 08:52] mozfreddyb commented on #209
We usually do not do changelogs or release notes. I think it's best you go through the commit logs and linked issues manually. If something doesn't make sense (which should rarely be the case), feel free to ask in the respective GitHub issues even if they are marked as closed.

[2022-10-20 12:13] tyteen4a03 commented on #209
According to https://github.com/mozilla/eslint-plugin-no-unsanitized/blob/87f185c3087a38b8f0220002e57211140913ef56/package.json#L4 we are currently on 4.0.1.

It would be much more helpful for ensure to have a changelog, or at least document the BC-breaking changes between major versions.

[2022-10-27 09:54] nikicat commented on #207
I confirm, the error was gone.

[2022-10-31 10:50] mozfreddyb commented on #209
OK, to answer your question for version 4.0: We made the "variable tracing" feature that we introduced in https://github.com/mozilla/eslint-plugin-no-unsanitized/commit/07c343c1b8c2bd915b8b3ffa89596516f7525c5c from disabled to enabled by default.
The new version will therefore find way more potential security issues and generally complain a bit more thoroughly. We made the bump so that people will

[2022-10-31 10:50] #209 closed

[2022-10-31 10:56] mozfreddyb opened #210 "Chasing method names in assignment should take operator into account"
This is a follow-up from #207 and #206.
The patch fixed working with function calls in code like (`a = b)(foo)`, but did not take the assignment operator into account.

A simple equal sign will ensure that only `b` will ever be called, as it is assigned into `a`.
However, operators like `||=` will **not**.

[2022-10-31 17:03] diox opened #211 "TypeError: Cannot read properties of undefined (reading \'type\')"
We saw the following error happen in production ([sentry traceback](https://sentry.io/organizations/mozilla/issues/3364574696/?query=is%3Aunresolved&referrer=issue-stream)) when validating an add-on through the [linter](https://github.com/mozilla/addons-linter/):

[code]

I'll try to grab the add-on it occurred on if I can...

[2022-10-31 18:19] rpl commented on #211
@mozfreddyb I gathered some additional details from the service-worker.js file that @diox shared privately with me to help investigating this and determine what should be the correct way on handling these cases, let me know if you need some other details that may be useful to investigate this bug and that I may have missed to mention explicitly in this comment.

The issue is triggered due to the u

[2022-11-01 16:19] mozfreddyb commented on #211
That's extremely useful. I'll get to it first thing tomorrow.

[2022-11-02 12:51] mozfreddyb commented on #211
So, fixing this error is easy. But satisfying all of your requirements is a bit complicated. We can't try and find some close-ish declaration of arrays for spread-statements, but we'll lose context for most variables relatively easily.

Again, as per [our threat model we do not care nor should we complain about code that is minified/obfuscated](https://github.com/mozilla/eslint-plugin-no-unsanitiz

[2022-11-04 08:56] mozfreddyb opened #214 "we should try and get information about arguments supplied as SpreadElement"
Before #211 when looking for the second argument (i.e., `arguments[1]`), we hit index-out-of-bounds if the arguments are supplied as a SpreadElement (`insertAdjacentHTML(...args)`). With #211 fixed, we'll stop erroring but skip the check.

This issue here is filed to to identify how much we can find out about said SpreadElement and maybe do some checking on it's correct element.
This is easy for t

[2022-11-22 12:23] diox commented on #211
Should we have a release with the fix, or are we waiting for a fix for #214 as well ?

[2022-11-24 08:09] mozfreddyb commented on #205
@Abdullilah Did you end up resolving your issue? I'm leaning towards closing this issue.

[2022-11-24 08:18] mozfreddyb commented on #45
I marked the old package as deprecated. It did not have a lot of downloads anyway. https://www.npmjs.com/package/eslint-plugin-no-unsafe-innerhtml

[2022-11-24 08:18] #45 closed